*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #EEF5FF;
}

nav {
    display: flex;
    background: #191D88; /* Latar belakang putih transparan untuk navigasi */
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1rem;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    transition: max-height 0.5s ease-out;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 20px;
}

nav ul li a:hover {
    background-color: #FFC436;
    color: #000;
    border-radius: 5px;
    font-weight: bold;
    transform: scale(1.2); /* Memperbesar ikon saat di-hover */
    transition: all 0.3s ease-in-out; /* Menambahkan transisi yang halus */
}

nav ul li a.active {
    background-color: #FFC436;
    color: #000;
    border-radius: 5px;
    font-weight: bold;
}

nav ul li a i {
    font-size: 24px;
}

nav ul li a i#profile-icon:hover {
    color: #FFC436; /* Mengubah warna ikon saat di-hover */
    transform: scale(1.2); /* Memperbesar ikon saat di-hover */
    transition: all 0.3s ease-in-out; /* Menambahkan transisi yang halus */
    color: #000;
}

.menu-icon {
    display: none;
}

.menu-icon i {
    color: #fff;
    font-size: 30px;
}

@media (max-width:1200px) {
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: #191D88;
        gap: 0;
        overflow: hidden;
    }
    nav ul li{
        padding: 20px;
    }
    .menu-icon {
        display: block;
    }
    #menuList {
        transition: all 0.5s;
    }
}

.back-button {
    display: flex;
    align-items: center;
    padding: 1rem;
    font-size: 24px;
}

.page-title {
    margin-left: 10px;
    font-size: 25px;
    font-weight: 600;
    color: #000000;
    align-items: center;
}

.content {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.left-column {
    flex: 1;
}

.left-column img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
}

.right-column {
    flex: 1;
    background-color: white;
    border-radius: 12px;
}

.right-column h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    margin: 20px;

}

.right-column p {
    font-size: 1em;
    color: #333;
    margin: 20px;
}

.buttons {
    margin: 20px;
}

.buttons .favorite-btn,
.buttons .apply-btn {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

.buttons .favorite-btn {
    background-color: #FFC436;
    color: black;
    border-radius: 12px;
}

.buttons .apply-btn {
    background-color: #1450A3;
    color: white;
    border-radius: 12px;
}

.additional-info {
    padding: 20px;
    background-color: white;
}

.additional-info h2,
.additional-info h3 {
    margin-top: 20px;
    
}

.additional-info ul {
    list-style: disc;
    margin-left: 20px;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    nav {
        flex-direction: column;
    }

    .menu-icon {
        display: block;
    }

    #menuList {
        flex-direction: column;
        gap: 10px;
    }

    .back-button {
        margin: 10px;
    }

    .page-title {
        font-size: 1.2em;
    }
}

footer {
    background-color: #191D88;
    color: #ffffff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.footer-column {
    flex: 1;
    margin: 0 20px;
}

.footer-logo {
    height: 50px;
}

.footer-column h3 {
    margin-bottom: 10px;
}

.footer-column p, .footer-column ul {
    font-size: 0.9em;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #ffffff;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.social-icons a {
    color: #ffffff;
    margin-right: 10px;
    font-size: 1.2em;
}

@media (max-width: 480px) {
    nav {
        flex-direction: column;
    }

    .menu-icon {
        display: block;
    }

    #menuList {
        flex-direction: column;
        gap: 10px;
    }

    .back-button {
        margin: 10px;
    }

    .page-title {
        font-size: 1.2em;
    }
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
    .footer-column {
        margin-bottom: 20px;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .footer-column {
        margin: 0;
    }
    .footer-logo {
        margin-bottom: 10px;
    }
    .footer-column h3 {
        margin-top: 20px;
    }
    .social-icons a {
        font-size: 1.5em;
    }
}